<div class="modal-header">
    <h3>New </h3>
</div>
<div class="modal-body">

    <form name="productForm" id="productForm" ng-init="product = { }">
        <div class="row form-group">


            <div class="col-xs-3">
                <label for="name">
                    Name:
                </label>
            </div>
            <div class="col-xs-6 control-group" >
               
                <input type="text" required name="productName" ng-model="product.name" class="form-control" />
                <span class="text-danger" ng-show="productForm.productName.$invalid && (submitted || productForm.productName.$dirty)">Required</span>
            </div>
        
        </div>
        <div class="row form-group">

            <div class="col-xs-3">
                <label for="category">
                    Category:
                </label>
            </div>
            <div class="col-xs-6 control-group">
                <input type="text" name="category" ng-model="product.category" class="form-control" required />
                <span class="text-danger" ng-show="productForm.category.$invalid && (submitted || productForm.category.$dirty)">Required</span>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-xs-3">
                <label for="Price">
                    Price:
                </label>
            </div>

            <div class="col-xs-6 control-group">
                <input type="number" name="price" ng-model="product.price" class="form-control" required />
                <span class="text-danger" ng-show="productForm.price.$invalid && (submitted || productForm.price.$dirty)">Required</span>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="save(product, productForm)">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>