<h3>Product Store  <a href="" style="font-size: 15px;" ng-click="addProduct()">Add Product</a>  </h3>
<input type="text" ng-model="searchTerm" placeholder="Search by name" class="form-control"/>
<table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    <tr ng-repeat="product in products | filter:searchTerm | limitTo: take | skip: pageSkip" >
        <td>{{product.Name}}</td>
        <td>{{product.Category}}</td>
        <td>{{product.Price}}</td>
        <td><a href="" ng-click="editProduct(product)" class="btn btn-info">Edit</a> <a href="" class="btn btn-danger" ng-click="deleteProduct(product, $index)" >Delete</a></td>
    </tr>
</table>

<div ng-include src="editUrl"></div>


<div>

    <ul class="pagination">
        <li ng-repeat="i in getPageCount() track by $index" ng-class="{'active': $index + 1 == currentPage }"><a href="" ng-click="goToPage($index+1)">{{$index+1}}</a></li>
    </ul>
</div>